body{
background :#5B79A8;
color: #1AB171;
font-family: 'Sriracha', cursive;

font-size: 20px;
}
h1, h2, h3{
	font-family: 'Bree Serif', serif;
	color: white;
}
h1
{
color:black;
font-size: 40px;
}
h2 {
	color:rgb(100,100,100);
	font-size: 24px;
	font-weight: lighter;
}
a
{
text-decoration: none;
color: black;
}
a:hover
{
	color: lightblue;

}
.container {
	width: 700px;
	margin: 40px auto;
  /*text-align: center;
  background: white;
  padding: 30px;
  border: 1px solid lightgrey; /* set margins: top/bottom: 40px; left/right: automatic */
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card-white {
	background-color: #F5F5F5;
  padding: 40px;

  border: 1px solid darkgrey;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	
}

.btn-blue{
	height: 100px;
	width: 100px;

}
